.main {
  display: grid;
  grid-template-columns: 300px minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
}

.sidebar {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto minmax(0, 1fr);
  background-color: var(--slate-1);
}

.search {
   margin: var(--md);
}

.content {
  background-color: black;
}