.container {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr);

    overflow-y: auto;

}

.list {
    display: flex;
    flex-direction: column;
    gap: var(--md);

    padding: var(--md);
}